body {
  margin: 0;
  font-family: arial;
  color: #666666;
}
body h2 {
  margin: 0;
  color: #003399;
  font-size: 30px;
  font-weight: 200;
}
body ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
body .light-txtbox-over-img {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 40%;
}
body .btn, body .btn-primary, body .btn-secondary {
  border: none;
  height: 50px;
}
body .btn-primary {
  background-color: #2282C1;
  border-radius: 5px;
  color: white;
  font-size: 100%;
  padding: 10px 40px;
}
body .btn-secondary {
  background-color: white;
  color: #059CE5;
  font-size: 15px;
}
body .input-textbox {
  border: lightgrey 1px solid;
  height: 50px;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 20px;
  color: grey;
}
body .page-view {
  display: none;
}
body .page-view.active-page-view {
  display: block;
}

.navigation {
  margin-bottom: 5px;
}
.navigation ul {
  padding: 0 20%;
  border-bottom: lightgrey 1px solid;
  color: black;
}
.navigation ul li {
  padding: 15px;
  list-style: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
}
.navigation ul li.left-navigation.active-nav {
  color: #059CE5;
  border: lightgrey 1px solid;
  border-bottom: white 1px solid;
  margin-bottom: -1px;
}
.navigation ul li.left-navigation.active-nav span {
  border-bottom: #059CE5 3px solid;
  padding-bottom: 13px;
}
.navigation ul li.right-navigation {
  float: right;
}

.unternehmer-portal-view .intro-module {
  padding: 0 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("http://il6.picdn.net/shutterstock/videos/5206298/thumb/1.jpg");
  background-size: cover;
}
.unternehmer-portal-view .intro-module .light-txtbox-over-img {
  height: 310px;
}
.unternehmer-portal-view .intro-module .light-txtbox-over-img h2 {
  margin-bottom: 50px;
}
.unternehmer-portal-view .intro-module .light-txtbox-over-img input {
  width: 100%;
}
.unternehmer-portal-view .intro-module .light-txtbox-over-img input.input-textbox {
  margin-bottom: 10px;
}

.unternehmer-portal-view .key-features-module {
  padding: 0 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #9FB6CD;
  color: white;
  text-align: center;
}
.unternehmer-portal-view .key-features-module h2 {
  color: white;
}
.unternehmer-portal-view .key-features-module .key-feature {
  display: inline-block;
  width: 30%;
  padding: 1.5%;
}
.unternehmer-portal-view .key-features-module .key-feature img {
  height: 100px;
}

.unternehmer-portal-view .products-module {
  padding: 0 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.unternehmer-portal-view .products-module .product-box-container {
  margin-top: 25px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container {
  display: inline-table;
  color: white;
  width: 16%;
  margin: 0 1%;
  padding: 40px 3%;
  height: 350px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container.planhq-product {
  background-color: #4F81BD;
}
.unternehmer-portal-view .products-module .product-box-container .product-container.sizeup-product {
  background-color: #A1ABB3;
}
.unternehmer-portal-view .products-module .product-box-container .product-container.credithq-product {
  background-color: #33ADE2;
}
.unternehmer-portal-view .products-module .product-box-container .product-container.export-enterprises-product {
  background-color: #7189B3;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .title-container {
  height: 75px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .title-container h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .img-container {
  height: 125px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .desc-container {
  height: 100px;
  font-size: 15px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .btn-container {
  height: 50px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .btn-container .btn, .unternehmer-portal-view .products-module .product-box-container .product-container .btn-container body .btn-primary, body .unternehmer-portal-view .products-module .product-box-container .product-container .btn-container .btn-primary, .unternehmer-portal-view .products-module .product-box-container .product-container .btn-container body .btn-secondary, body .unternehmer-portal-view .products-module .product-box-container .product-container .btn-container .btn-secondary {
  width: 100%;
}

.pricing-module {
  background-color: #F6F5F5;
  padding: 0 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.pricing-module .desc-line {
  margin: 30px 0;
}

.tryitout-module {
  padding: 0 20%;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("http://il6.picdn.net/shutterstock/videos/5206298/thumb/1.jpg");
  background-size: cover;
  text-align: center;
}
.tryitout-module .light-txtbox-over-img {
  padding: 40px;
}
.tryitout-module .light-txtbox-over-img .quote {
  height: 150px;
  font-size: 23px;
  font-weight: 100;
  margin: 40px;
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
