body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  font-family: arial;
  color: #666666;
}
body .covers-other-elements, body .main-header, body .navigation, body .side-bar-nav {
  z-index: 998;
}
body h2 {
  margin: 0;
  color: #003399;
  font-weight: 200;
  font-size: 28px;
}
@media (min-width: 960px) {
  body h2 {
    font-size: 35px;
  }
}
body ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
body .line {
  width: 100%;
}
body .light-txtbox-over-img {
  background-color: rgba(255, 255, 255, 0.9);
}
body .btn, body .btn-primary, body .btn-secondary {
  border: none;
  height: 60px;
  padding: 10px 40px;
}
body .btn-primary {
  background-color: #2282C1;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}
body .btn-primary .db-ico7 {
  font-size: 16px;
}
body .btn-secondary {
  background-color: white;
  color: #059CE5;
  font-size: 15px;
}
body .btn-secondary .db-ico7 {
  font-size: 13px;
}
body .input-textbox {
  border: lightgrey 1px solid;
  height: 60px;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 20px;
  color: grey;
}
body .break {
  border-top: 1px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
}
body .unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body .push-down {
  height: 60px;
}
@media (min-width: 960px) {
  body .push-down {
    height: 178px;
  }
}
body .quote, body .tryitout-module .light-txtbox-over-img .quote-container .quote1, .tryitout-module .light-txtbox-over-img .quote-container body .quote1, body .tryitout-module .light-txtbox-over-img .quote-container .quote2, .tryitout-module .light-txtbox-over-img .quote-container body .quote2 {
  position: absolute;
  color: #003399;
  font-size: 35px;
}
body .rotate180, body .tryitout-module .light-txtbox-over-img .quote-container .quote2, .tryitout-module .light-txtbox-over-img .quote-container body .quote2 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
body .align-center {
  text-align: center;
}

.main-header {
  height: 60px;
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: white;
}
.main-header .glyphicon {
  font-size: 30px;
  color: black;
}
.main-header .logo {
  height: 40px;
  float: right;
}
.main-header .title {
  display: none;
  height: 120px;
}
.main-header .title h3 {
  font-size: 20px;
  color: #003399;
}
.main-header .title h2 {
  color: lightgrey;
  display: inline-table;
}
.main-header .title h2 .portal {
  color: #059CE5;
}
@media (min-width: 960px) {
  .main-header {
    height: 120px;
    margin: 0;
    padding: 0 20%;
    height: 120px;
  }
  .main-header .glyphicon {
    display: none;
  }
  .main-header .logo {
    height: 70px;
    margin-top: 20px;
  }
  .main-header .title {
    display: inline-table;
  }
}

.navigation {
  background-color: white;
  position: fixed;
  top: 60px;
  left: -100%;
  -webkit-transition: left 300ms linear;
  -moz-transition: left 300ms linear;
  -ms-transition: left 300ms linear;
  -o-transition: left 300ms linear;
  transition: left 300ms linear;
  width: 80%;
  height: 100%;
}
.navigation.open-nav {
  left: 0;
}
.navigation ul {
  padding: 0 15px;
}
.navigation ul a {
  color: black !important;
}
.navigation ul a:visited {
  color: black;
}
.navigation ul a:hover {
  color: black;
}
.navigation ul li {
  list-style: none;
  padding: 10px 0;
}
@media (max-width: 961px) {
  .navigation ul li.right-navigation:first-child {
    border-top: lightgrey 1px solid;
  }
  .navigation ul li .btn-primary {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
    font-size: inherit;
    height: inherit;
  }
}
@media (min-width: 960px) {
  .navigation {
    position: fixed;
    left: 0;
    top: 120px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    width: 100%;
    height: 58px;
    margin-bottom: 5px;
  }
  .navigation ul {
    padding: 40px 20%;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: lightgrey 1px solid;
    color: black;
  }
  .navigation ul li {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
  }
  .navigation ul li.left-navigation {
    font-size: 18px;
  }
  .navigation ul li.left-navigation.active-nav {
    color: #059CE5;
    border: lightgrey 1px solid;
    border-bottom: white 1px solid;
    margin-bottom: -1px;
  }
  .navigation ul li.left-navigation.active-nav span {
    border-bottom: #059CE5 3px solid;
    padding-bottom: 13px;
  }
  .navigation ul li.right-navigation {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
  }
  .navigation ul li.right-navigation .btn-primary {
    height: 30px;
    font-size: 100%;
    padding: 0 10px;
  }
}

.unternehmer-portal-view .intro-module {
  background-image: url("../src/images/dbHomeHero.jpg");
  background-size: cover;
  margin-top: 3px;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: center;
}
.unternehmer-portal-view .intro-module .light-txtbox-over-img {
  padding: 15px;
}
.unternehmer-portal-view .intro-module .light-txtbox-over-img .input-textbox {
  width: 100%;
  margin-bottom: 10px;
}
.unternehmer-portal-view .intro-module .light-txtbox-over-img .btn-primary {
  width: 100%;
}
@media (min-width: 960px) {
  .unternehmer-portal-view .intro-module {
    padding: 40px 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
  }
  .unternehmer-portal-view .intro-module .light-txtbox-over-img {
    width: 50%;
    padding: 30px;
  }
  .unternehmer-portal-view .intro-module .light-txtbox-over-img h2 {
    margin-bottom: 50px;
  }
  .unternehmer-portal-view .intro-module .light-txtbox-over-img p {
    font-size: 18px;
    line-height: 1.3;
  }
}
@media (min-width: 1260px) {
  .unternehmer-portal-view .intro-module {
    padding: 40px 20%;
  }
}
.unternehmer-portal-view #anwendungenIntroModule {
  padding-bottom: 125px;
}

.unternehmer-portal-view .key-features-module {
  padding: 40px 20px;
  background-color: #9FB6CD;
  color: white;
  text-align: center;
}
.unternehmer-portal-view .key-features-module h2 {
  color: white;
}
.unternehmer-portal-view .key-features-module .key-feature {
  display: inline-table;
  width: 42%;
  padding: 1.5%;
}
.unternehmer-portal-view .key-features-module .key-feature .feature-img {
  padding: 40px 0;
  height: 160px;
}
.unternehmer-portal-view .key-features-module .key-feature .feature-img span {
  font-size: 80px;
}
@media (min-width: 960px) {
  .unternehmer-portal-view .key-features-module {
    padding: 40px 10%;
  }
  .unternehmer-portal-view .key-features-module .key-feature {
    width: 30%;
  }
  .unternehmer-portal-view .key-features-module .break {
    display: none;
  }
}
@media (min-width: 1260px) {
  .unternehmer-portal-view .key-features-module {
    padding: 40px 20%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.unternehmer-portal-view .products-module {
  padding: 40px 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.unternehmer-portal-view .products-module .break {
  border-color: lightgrey;
}
.unternehmer-portal-view .products-module .product-box-container {
  margin-top: 25px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .title-container {
  height: 75px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .title-container h4 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .img-container {
  height: 125px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .desc-container {
  height: 125px;
  font-size: 15px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .btn-container {
  height: 60px;
  margin-bottom: 15px;
}
.unternehmer-portal-view .products-module .product-box-container .product-container .btn-container .btn-secondary {
  border: 1px solid #059CE5;
}
@media (min-width: 960px) {
  .unternehmer-portal-view .products-module {
    color: white;
    padding: 40px 10%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .unternehmer-portal-view .products-module .break {
    display: none;
  }
  .unternehmer-portal-view .products-module .product-box-container .product-container {
    display: inline-block;
    width: 22%;
    margin: 0 1%;
    padding: 40px 2%;
    height: 465px;
  }
  .unternehmer-portal-view .products-module .product-box-container .product-container.planhq-product {
    background-color: #4F81BD;
  }
  .unternehmer-portal-view .products-module .product-box-container .product-container.sizeup-product {
    background-color: #A1ABB3;
  }
  .unternehmer-portal-view .products-module .product-box-container .product-container.credithq-product {
    background-color: #33ADE2;
  }
  .unternehmer-portal-view .products-module .product-box-container .product-container.export-enterprises-product {
    background-color: #7189B3;
  }
  .unternehmer-portal-view .products-module .product-box-container .product-container .img-container img {
    width: 100%;
  }
  .unternehmer-portal-view .products-module .product-box-container .product-container .btn-container .btn-secondary {
    border: 1px solid white;
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 1260px) {
  .unternehmer-portal-view .products-module {
    padding: 40px 20%;
  }
}

.unternehmer-portal-view .video-module {
  display: none;
  z-index: 0;
  position: relative;
  height: 550px;
  background-image: url("../src/images/dbVideo.jpg");
  background-size: cover;
  text-align: center;
}
.unternehmer-portal-view .video-module .play-btn {
  cursor: pointer;
  position: absolute;
  top: 200px;
  height: 150px;
}
@media (min-width: 960px) {
  .unternehmer-portal-view .video-module {
    display: block;
  }
}
.unternehmer-portal-view .transparent-video-container {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(102, 102, 102, 0.5);
  display: none;
}
.unternehmer-portal-view .transparent-video-container.open-video-container {
  display: block;
}
.unternehmer-portal-view .white-video-box {
  margin: 50px;
  padding: 50px;
  text-align: center;
  background-color: white;
}
.unternehmer-portal-view .white-video-box div.ytp-chrome-controls {
  display: none !important;
}

.unternehmer-portal-view.anwendungen .intro-module {
  background-image: url("../src/images/dbProdHero.jpg");
}
.unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module {
  margin-top: -84px;
  padding: 0;
  width: 100%;
}
.unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module .nav {
  width: 100%;
}
.unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul {
  width: 100%;
  background-color: white;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
}
.unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul li {
  width: 100%;
  text-align: center;
}
.unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul li a {
  font-size: 16px;
  font-weight: bold;
  border-radius: 0px;
  color: #666666;
  border: none;
}
.unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul li a:focus, .unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul li a:active, .unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul li a:hover {
  background-color: white;
  border: none;
}
.unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul li.active a {
  color: #059CE5;
}
.unternehmer-portal-view.anwendungen .container .product-row {
  padding: 15px 0;
}
.unternehmer-portal-view.anwendungen .container .product-row .icons {
  font-size: 45px;
  color: #9FB6CD;
}
.unternehmer-portal-view.anwendungen .container .product-row .icon-desc {
  color: #003399;
  word-break: break-word;
  margin: 0 -10px;
}
.unternehmer-portal-view.anwendungen .container .product-row img.screenimg {
  display: none;
  max-height: 300px;
  max-width: 100%;
  margin-bottom: 25px;
}
.unternehmer-portal-view.anwendungen .container .product-row img.productimg {
  padding: 20px 0;
  height: 65px;
}
.unternehmer-portal-view.anwendungen .container .product-row .desc-line {
  font-size: 18px;
  margin-bottom: 30px;
}
.unternehmer-portal-view.anwendungen .pricing-module h3 {
  color: #003399;
}
.unternehmer-portal-view.anwendungen .pricing-module .desc-line {
  font-size: 18px;
}
@media (min-width: 960px) {
  .unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module .nav {
    width: 60%;
    margin: 0 auto;
  }
  .unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul li {
    width: 25%;
  }
  .unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul li a {
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .unternehmer-portal-view.anwendungen .container.anwendungen-tabs-module ul li.active {
    border-bottom: 10px solid #059CE5;
  }
  .unternehmer-portal-view.anwendungen .container .product-row {
    padding: 30px 0;
  }
  .unternehmer-portal-view.anwendungen .container .product-row img.productimg {
    height: 100%;
  }
  .unternehmer-portal-view.anwendungen .container .product-row .icon-desc {
    margin: 20px 10px;
  }
  .unternehmer-portal-view.anwendungen .pricing-module {
    padding: 0 18%;
  }
}

.pricing-module {
  background-color: #F6F5F5;
  padding: 40px 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.pricing-module .desc-line {
  margin: 30px 0;
}
@media (min-width: 960px) {
  .pricing-module {
    padding: 40px 10%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1260px) {
  .pricing-module {
    padding: 40px 20%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.tryitout-module {
  padding: 30px 10px;
  background-image: url("../src/images/dbTestimonial.jpg");
  background-size: cover;
  text-align: center;
}
.tryitout-module .light-txtbox-over-img {
  padding: 30px 10px;
  width: 100%;
}
.tryitout-module .light-txtbox-over-img .quote-container {
  font-size: 23px;
  font-weight: 100;
  margin: 40px;
  position: relative;
}
.tryitout-module .light-txtbox-over-img .quote-container .quote1 {
  top: -35px;
  left: -35px;
}
.tryitout-module .light-txtbox-over-img .quote-container .quote2 {
  bottom: -35px;
  right: -35px;
}
@media (min-width: 960px) {
  .tryitout-module {
    padding: 40px 20%;
    padding-top: 150px;
    padding-bottom: 200px;
  }
  .tryitout-module .light-txtbox-over-img {
    width: 50%;
    padding: 40px;
    margin-bottom: 0;
  }
  .tryitout-module .light-txtbox-over-img .quote-container {
    height: 150px;
  }
  .tryitout-module .light-txtbox-over-img .quote-container .quote1 {
    top: -25px;
    left: -25px;
  }
  .tryitout-module .light-txtbox-over-img .quote-container .quote2 {
    bottom: 25px;
    right: -25px;
  }
}

.side-bar-nav {
  display: none;
  position: fixed;
  top: 300px;
}
.side-bar-nav ul {
  text-align: center;
}
.side-bar-nav ul li.side-bar-btn {
  cursor: pointer;
  list-style: none;
  height: 10px;
  width: 10px;
  margin: 5px auto;
  background-color: #E0E0E0;
  border-radius: 100%;
}
.side-bar-nav ul li.side-bar-btn.active-module {
  background-color: #2282C1;
  height: 14px;
  width: 14px;
}
@media (min-width: 960px) {
  .side-bar-nav {
    right: 5%;
    display: block;
  }
}
@media (min-width: 1260px) {
  .side-bar-nav {
    right: 10%;
  }
}

.contact-module {
  padding: 40px 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-module .input-textbox {
  width: 100%;
  margin-bottom: 10px;
}
.contact-module .btn-primary {
  width: 100%;
}
.contact-module p {
  margin-top: 10px;
  margin-bottom: 15px;
}
@media (min-width: 960px) {
  .contact-module {
    padding: 40px 10%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contact-module .input-textbox {
    width: 30%;
    margin: 0;
    margin-right: 2%;
  }
  .contact-module .btn-primary {
    width: 30%;
  }
}
@media (min-width: 1260px) {
  .contact-module {
    padding: 40px 20%;
  }
}

.footer img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
