.unternehmer-portal-view {
  &.anwendungen {
    .pricing-module {
      h3 {
        color: $smalt;
      }

      .desc-line {
        font-size: 18px;
      }

      @media (min-width: $md-screen-width) {
        padding: 0 $md-side-padding;

        .desc-line {
          padding: 0 15%;
        }
      }

      @media (min-width: $lg-screen-width) {
        padding: 0 $lg-side-padding;
      }
    }
  }
}