
body {
  max-width: 100%;
  margin: 0;
  font-family: arial;
  color: $grey;

  h2 {
    margin: 0;
    color: $smalt;
    font-size: 30px;
    font-weight: 200;
  }

  ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
  }

  .line{
    width: 100%;
  }

  .light-txtbox-over-img {
    padding: $light-txtbox-over-img-pdg;
    background-color: rgba(255, 255, 255, 0.9);
    @media (min-width: $md-screen-width) {
      width: 40%;
    }
  }

  .btn {
    border: none;
    height: $btn-height;
    padding: 10px 40px;
  }

  .btn-primary {
    @extend .btn;
    background-color: $curious-blue;
    border-radius: 5px;
    color: $white;
    font-size: 100%;
  }

  .btn-secondary {
    @extend .btn;
    background-color: $white;
    color: $link-col;
    font-size: 15px;
  }

  .input-textbox {
    border: $nav-border-col 1px solid;
    height: $btn-height;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 20px;
    color: grey;
  }

  .break {
    border-top: 1px solid $white;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .page-view {
    display: none;

    &.active-page-view {
      display: block;
    }
  }

}