.main-header {
  height: $header-sm-height;
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: $white;

  .glyphicon {
    font-size: 30px;
    color: black;
  }

  .logo {
    height: $logo-sm-height;
    float: right;
  }

  @media (min-width: $md-screen-width) {
    height: $header-md-height;
    margin: 0;
    padding: 0 $lg-side-padding;
    height: $header-md-height;

    .glyphicon {
      display: none;
    }

    .logo {
      height: $logo-md-height;
    }
  }
}
