.main-header {
  @extend .covers-other-elements;
  height: $header-sm-height;
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: $white;

  .glyphicon {
    font-size: 30px;
    color: black;
  }

  .logo {
    height: $logo-sm-height;
    float: right;
  }

  .title {
    display: none;
    height: 120px;

    h3 {
      font-size: 20px;
      color: $smalt;
    }

    h2 {
      color: $light-grey;
      display: inline-table;
      padding: 10px 0 0;

      .portal {
        color: $dodger-blue;
      }
    }
  }

  @media (min-width: $md-screen-width) {
    height: $header-md-height;
    margin: 0;
    padding: 0 $md-side-padding;

    .glyphicon {
      display: none;
    }

    .logo {
      height: $logo-md-height;
      margin-top: 20px;
    }

    .title {
      display: inline-table;
    }
  }

  @media (min-width: $lg-screen-width) {
    padding: 0 $lg-side-padding;
  }
}
