.navigation {
  margin-bottom: 5px;

  ul {
    padding: $lg-padding;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: $nav-border-col $nav-border-width solid;
    color: black;

    li {
      padding: $li-padding;
      list-style: none;
      cursor: pointer;
      display: inline-block;
      font-weight: 300;

      &.left-navigation {
        &.active-nav {
          color: $link-col;
          border: $nav-border-col $nav-border-width solid;
          border-bottom: $nav-bg-col $nav-border-width solid;
          margin-bottom: -$nav-border-width;

          span {
            border-bottom: $link-col $active-tab-border-btm-width solid;
            padding-bottom: $li-padding - $active-tab-border-btm-width + $nav-border-width;
          }
        }
      }

      &.right-navigation {
        float: right;
      }
    }
  }
}