.navigation {
  background-color: $white;
  position: absolute;
  left: -100%;
  -webkit-transition: left 300ms linear;
  -moz-transition: left 300ms linear;
  -ms-transition: left 300ms linear;
  -o-transition: left 300ms linear;
  transition: left 300ms linear;
  width: 80%;
  height: 100%;

  &.open-nav {
    left: 0;
  }

  @media (min-width: $md-screen-width) {
    position: relative;
    left: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    width: 100%;
    margin-bottom: 5px;

    ul {
      padding: $lg-padding;
      padding-bottom: 0;
      padding-top: 0;
      border-bottom: $nav-border-col $nav-border-width solid;
      color: black;

      li {
        padding: $li-padding;
        list-style: none;
        cursor: pointer;
        display: inline-block;
        font-weight: 300;

        &.left-navigation {
          &.active-nav {
            color: $link-col;
            border: $nav-border-col $nav-border-width solid;
            border-bottom: $nav-bg-col $nav-border-width solid;
            margin-bottom: -$nav-border-width;

            span {
              border-bottom: $link-col $active-tab-border-btm-width solid;
              padding-bottom: $li-padding - $active-tab-border-btm-width + $nav-border-width;
            }
          }
        }

        &.right-navigation {
          float: right;
        }
      }
    }
  }

  @media (min-width: $lg-screen-width) {
  }
}