.pricing-module {
  background-color: #F6F5F5;
  padding: $lg-padding;
  padding-top: $intro-module-padding;
  padding-bottom: $intro-module-padding;
  text-align: center;

  .desc-line {
    margin: 30px 0;
  }
}