.side-bar-nav {
  display: none;
  position: fixed;
  top: 300px;

  ul {
    text-align: center;

    li.side-bar-btn {
      cursor: pointer;
      list-style: none;
      height: $sidebarbtn-height;
      width: $sidebarbtn-height;
      margin: $sidebarbtn-height/2 auto;
      background-color: $sidebarbtn-col;
      border-radius: 100%;

      &.active-module {
        background-color: $active-sidebarbtn-col;
        height: $active-sidebarbtn-height;
        width: $active-sidebarbtn-height;
      }
    }
  }

  @media (min-width: $md-screen-width) {
    right: $md-side-padding/2;
    display: block;
  }

  @media (min-width: $lg-screen-width) {
    right: $lg-side-padding/2;
  }
}