.tryitout-module {
  padding: 30px 10px;
  background-image: $tryitout-bg-img;
  background-size: cover;
  text-align: center;

  .light-txtbox-over-img {
    padding: 30px 10px;
    width: 100%;

    .quote-container {
      font-size: 23px;
      font-weight: 100;
      margin: 40px;
      position: relative;

      .quote1 {
        @extend .quote;
        top: - $quote-size;
        left: - $quote-size;
      }

      .quote2 {
        @extend .quote;
        @extend .rotate180;
        bottom: - $quote-size ;
        right: - $quote-size;
      }
    }
  }

  @media (min-width: $md-screen-width) {
    padding: $md-padding;
    padding-top: $tryitout-module-pdgtop;
    padding-bottom: $tryitout-module-pdgbtm;

    .light-txtbox-over-img {
      width: 50%;
      padding: 40px;
      margin-bottom: 0;

      .quote-container {
        height: $tryitout-quotebox-height;

        .quote1 {
          top: 10 - $quote-size;
          left: 10 - $quote-size;
        }

        .quote2 {
          bottom: $quote-size - 10;
          right: 10 - $quote-size;
        }
      }
    }
  }

  @media (min-width: $lg-screen-width) {
    padding: $lg-padding;
  }
}