.unternehmer-portal-view {

    &.anwendungen {
        
        .intro-module {
            background-image: url('../src/images/dbProdHero.jpg');
        }

        .container {
            &.anwendungen-tabs-module {
                margin-top: -84px;
                padding: 0;
                width: 100%;

                .nav {
                    width: 100%;
                }

                ul {
                    width: 100%;
                    background-color: $white;
                    border-top: solid 1px $light-grey;
                    border-bottom: solid 1px $light-grey;
                    li {
                        width: 100%;
                        text-align: center;
                        a {
                            font-size: 16px;
                            font-weight: bold;
                            border-radius: 0px;
                            color: $grey;
                            border: none;
                            &:focus, &:active, &:hover {
                                background-color: $white;
                                border: none;
                            }
                        }
                        &.active {
                            a {
                                color: $dodger-blue;
                            }
                        }
                    }
                }

                .tab-content {
                    .product-img {
                        width: 100%;
                    }
                }
            }

            .product-row {
                padding: 15px 0;

                .icons {
                    font-size: 45px;
                    color: $rock-blue;
                }

                .icon-desc {
                    color: $smalt;
                    word-break: break-word;
                    margin: 0 -10px;
                }

                img.screenimg {
                    display: none;
                    max-height: 300px;
                    max-width: 100%;
                    margin-bottom: 25px;
                }

                img.productimg {
                    padding: 20px 0;
                    height: 65px;
                }

                .desc-line {
                    font-size: 18px;
                    margin-bottom: 30px;
                }
            }
        }

        .search-container {
            text-align: center;
            color: black;
            font-size: 20px;

            .searchboxcontainer {
                padding: 15px 0 30px;
                display: none;

                &.open-search-box {
                    display: block;
                }
            }
        }

        .pricing-module {
            h3 {
                color: $smalt;
            }

            .desc-line {
                font-size: 18px;
            }
        }

        @media (min-width: $md-screen-width) {
            .container {
                &.anwendungen-tabs-module {
                    .nav {
                        width: 90%;
                        margin: 0 auto;
                    }

                    ul {
                        li {
                            width: 25%;
                            a {
                                font-size: 20px;
                                padding-top: 25px;
                                padding-bottom: 20px;
                            }
                            &.active {
                                border-bottom: 10px solid $dodger-blue;
                            }
                        }
                    }

                    .tab-content {
                        padding: $md-padding;
                        padding-bottom: 0;
                        padding-top: 0;

                        .product-img {
                            width: 80%;
                        }
                    }
                }

                .product-row {
                    padding: 30px 0;

                    img.productimg {
                        height: 100%;
                    }

                    img.screenimg {
                        display: block;
                    }

                    .icon-desc {
                        margin: 20px 10px;
                    }
                }
            }

            .search-container {
            }

            .pricing-module {
                padding: 0 18%;

                .desc-line {
                    padding: 0 15%;
                }
            }
        }

        @media (min-width: $lg-screen-width) {
            .container {
                &.anwendungen-tabs-module {
                    .nav {
                        width: 60%;
                    }

                    .tab-content {
                        padding: $lg-padding;
                        padding-bottom: 0;
                        padding-top: 0;
                    }
                }
            }

            .search-container {
            }
        }
    }
}
