.unternehmer-portal-view {
  max-width: 100%;

  .key-features-module {
    padding: 40px 20px;
    background-color: $rock-blue;
    color: white;
    text-align: center;

    h2 {
      color: $white;
    }

    .key-feature {
      display: inline-block;
      width: 42%;
      padding: 1.5%;

      img {
        height: 100px;
      }
    }

    @media (min-width: $md-screen-width) {
      padding: $md-padding;

      .key-feature {
        width: 30%;
      }

      .break {
        display: none;
      }
    }

    @media (min-width: $lg-screen-width) {
      padding: $lg-padding;
      padding-top: $intro-module-padding;
      padding-bottom: $intro-module-padding;
    }
  }
}