.unternehmer-portal-view {
  .intro-module {
    background-image: $up-intro-bg-img;
    background-size: cover;

    @media (min-width: $md-screen-width) {
      padding: $md-padding;
      padding-top: $intro-module-padding;
      padding-bottom: $intro-module-padding;

      .light-txtbox-over-img {
        height: 350px - (2*$light-txtbox-over-img-pdg);

        h2 {
          margin-bottom: 50px;
        }

        input {
          width: 100%;

          &.input-textbox {
            margin-bottom: 10px;
          }
        }
      }
    }

    @media (min-width: $lg-screen-width) {
      padding: $lg-padding;
      padding-top: $intro-module-padding;
      padding-bottom: $intro-module-padding;
    }

  }
}
