.unternehmer-portal-view {
  .products-module {
    padding: 40px 20px;
    padding-top: $intro-module-padding;
    padding-bottom: $intro-module-padding;
    text-align: center;

    .break {
      border-color: $light-grey;
    }

    .product-box-container {
      margin-top: 25px;

      .product-container {

        .title-container {
          height: $product-title-height;

          h4 {
            font-size: 20px;
            font-weight: 100;
            margin: 0;
          }
        }

        .img-container {
          height: $product-img-height;
        }

        .desc-container {
          height: $product-desc-height;
          font-size: 15px;
        }

        .btn-container {
          height: $product-btn-height;
          margin-bottom: 15px;

          .btn-secondary {
            border: 1px solid $link-col;
          }
        }
      }
    }

    @media (min-width: $md-screen-width) {
      color: $white;
      padding: $md-padding;
      padding-top: $intro-module-padding;
      padding-bottom: $intro-module-padding;

      .break {
        display: none;
      }

      .product-box-container {
        .product-container {
          display: inline-block;
          width: 20%;
          margin: 0 1%;
          padding: $product-topbtm-padding 2%;
          height: $product-container-height;

          &.planhq-product {
            background-color: #4F81BD;
          }

          &.sizeup-product {
            background-color: #A1ABB3;
          }

          &.credithq-product {
            background-color: #33ADE2;
          }

          &.export-enterprises-product {
            background-color: #7189B3;
          }

          .btn-container {
            .btn-secondary {
              border: 1px solid $white;
              width: 100%;
              padding: 0;
            }
          }
        }
      }


    }

    @media (min-width: $lg-screen-width) {
      padding: $lg-padding;
    }
  }
}