.unternehmer-portal-view {
  .intro-module {
    background-image: $up-intro-bg-img;
    background-size: cover;
    margin-top: 3px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;

    .light-txtbox-over-img {
      padding: 15px;

      .input-textbox {
        width: 100%;
        margin-bottom: 10px;
      }

      .btn-primary {
        width: 100%;
      }
    }

    @media (min-width: $md-screen-width) {
      padding: $md-padding;
      padding-top: $intro-module-padding;
      padding-bottom: $intro-module-padding;
      text-align: left;

      .light-txtbox-over-img {
        width: 50%;
        padding: 30px;

        h2 {
          margin-bottom: 50px;
        }

        p {
          font-size: 18px;
          line-height: 1.3;
        }
        
      }
    }

    @media (min-width: $lg-screen-width) {
      padding: $lg-padding;
    }

  }

  #anwendungenIntroModule {
    padding-bottom: 125px;
  }

}
