.unternehmer-portal-view {
  .key-features-module {
    padding: $md-padding;
    background-color: $rock-blue;
    color: white;
    text-align: center;

    h2 {
      color: white;
    }

    .key-feature {
      display: inline-table;
      width: 30%;
      padding: 1.5%;

      img {
        height: 100px;
      }
    }
    @media (min-width: $lg-screen-width) {
      padding: $lg-padding;
      padding-top: $intro-module-padding;
      padding-bottom: $intro-module-padding;


    }
  }
}