// Colours
$blue-ribbon: #0066ff;
$dodger-blue: #059CE5;
$curious-blue: #2282C1;
$rock-blue: #9FB6CD;
$smalt: #003399;
$grey: #666666;
$light-grey: lightgrey;
$white: white;

// General page padding
$lg-side-padding: 20%;
$md-side-padding: 10%;
$vertical-padding: 40px;
$lg-padding: $vertical-padding $lg-side-padding;
$md-padding: $vertical-padding $md-side-padding;
$light-txtbox-over-img-pdg: 20px;

// Body
$link-col: $dodger-blue;
$btn-height: 50px;

// Header
$logo-sm-height: 40px;
$logo-md-height: 70px;
$header-md-height: $logo-md-height;

// Navigation bar
$nav-border-width: 1px;
$nav-border-col: $light-grey;
$nav-bg-col: $white;
$li-padding: 15px;
$active-tab-border-btm-width: 3px;

// Side bar navigation buttons
$sidebarbtn-height: 10px;
$sidebarbtn-col: #E0E0E0;
$active-sidebarbtn-height: 14px;
$active-sidebarbtn-col: #2282C1;

// UnternehmerPortal Intro module
$up-intro-bg-img: url('http://il6.picdn.net/shutterstock/videos/5206298/thumb/1.jpg');
$intro-module-padding: 40px;

// Product module
$product-topbtm-padding: 40px;
$product-title-height: 75px;
$product-img-height: 125px;
$product-desc-height: 125px;
$product-btn-height: $btn-height;
$product-container-height: $product-title-height + $product-img-height + $product-desc-height + $product-btn-height + (2*$product-topbtm-padding);

// Try It Out module
$tryitout-quotebox-height: 150px;
$tryitout-module-pdg: 150px;

// Desktop and mobile styling widths
$lg-screen-width: 1260px;
$md-screen-width: 960px;
$sm-screen-width: 670px;
$xs-screen-width: 400px;