// Colours
$blue-ribbon: #0066ff;
$dodger-blue: #059CE5;
$curious-blue: #2282C1;
$rock-blue: #9FB6CD;
$smalt: #003399;
$grey: #666666;
$light-grey: lightgrey;
$white: white;

// General page padding
$lg-side-padding: 20%;
$md-side-padding: 10%;
$vertical-padding: 40px;
$lg-padding: $vertical-padding $lg-side-padding;
$md-padding: $vertical-padding $md-side-padding;

// Body
$link-col: $dodger-blue;
$btn-height: 60px;

// Header
$logo-sm-height: 40px;
$header-sm-pdg: 10px;
$logo-md-height: 70px;
$height-of-header-title-box: 120px;
$header-md-topbtm-mgn: 10px;
$header-sm-height: $logo-sm-height + (2*$header-sm-pdg);
$header-md-height: $height-of-header-title-box;

// Navigation bar
$nav-border-col: $light-grey;
$nav-bg-col: $white;
$nav-border-width: 1px;
$li-padding: 15px;
$spacing-at-btm-of-navbar: 2px;
$active-tab-border-btm-width: 3px;
$nav-md-height: 2*($li-padding + $nav-border-width + $active-tab-border-btm-width) + 18px + $spacing-at-btm-of-navbar;

// Header and navigation container
$headernavcontainer-height: $header-md-height + $nav-md-height;
$headernavcontainer-sm-height: $header-sm-height;

// Side bar navigation buttons
$sidebarbtn-height: 10px;
$sidebarbtn-col: #E0E0E0;
$active-sidebarbtn-height: 14px;
$active-sidebarbtn-col: #2282C1;

// UnternehmerPortal Intro module
$up-intro-bg-img: url('../src/images/dbHomeHero.jpg');
$intro-module-padding: 40px;

// Key features module
$feature-img-height: 80px;
$feature-img-pdgtopbtm: 40px;

// Video module
$height-of-video-module: 550px;
$height-of-playbtn: 150px;
$placement-of-play-btn: ($height-of-video-module - $height-of-playbtn)/2;

// Product module
$product-topbtm-padding: 40px;
$product-title-height: 75px;
$product-img-height: 125px;
$product-desc-height: 125px;
$product-btn-height: $btn-height;
$product-container-height: $product-title-height + $product-img-height + $product-desc-height + $product-btn-height + (2*$product-topbtm-padding);

// Try It Out module
$tryitout-quotebox-height: 150px;
$tryitout-module-pdgtop: 150px;
$tryitout-module-pdgbtm: 200px;
$tryitout-bg-img: url('../src/images/dbTestimonial.jpg');
$quote-size: 35px;

// Desktop and mobile styling widths
$lg-screen-width: 1260px;
$md-screen-width: 1025px;
$sm-screen-width: 768px;
$xs-screen-width: 400px;