.navigation {
  height: 50px;

  li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
  }
  ul.left-navigation {
    li {
      float: left;

      &.active-nav {
        color: blue;
      }
    }
  }
  ul.right-navigation {
    li {
      float: right;
    }
  }
}